body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
}

#map {
    height: 100%;
    width: 100%;
}

#search-box {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9999;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#search {
    width: 200px;
    padding: 5px;
}
